include mixins.pug
doctype html
html
  head
    title= title
    link(href="//fonts.googleapis.com/css?family=Exo+2:400,500,700", rel="stylesheet", type="text/css")
    link(href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css", rel="stylesheet", type="text/css")
    link(href='//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css',rel='stylesheet', type="text/css")
    link(href="//cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css", rel="stylesheet", type="text/css")
    link(href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/css/bootstrap-select.min.css", rel="stylesheet", type="text/css")
    link(href='/css/base.css',rel='stylesheet', type="text/css")
    block head

  body
    include modal-created.pug

    block content

    // JQuery
    script(src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js")
    // Bootstrap
    script(src='//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js')
    script(src='//cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/js/bootstrap-select.min.js')
    // Socket.IO
    script(src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.3/socket.io.min.js")

    block footer
