extends layout

block head
  title Overlay
  link(href="/css/base.css", rel="stylesheet")
  style.
    #blueteamname { position: absolute; left: 198px; top: 116px; width: 336px; height: 44px; font-weight: 700; text-shadow: 0 0 1em #333333; text-transform: uppercase; color: #ffffff; font-size: 2em; text-align: center; }
    #redteamname { position: absolute; left: 1382px; top: 116px; width: 336px; height: 44px; font-weight: 700; text-shadow: 0 0 1em #333333; text-transform: uppercase; color: #ffffff; font-size: 2em; text-align: center; }

block footer
  script.
    var room = '#{room}';
    var key = '#{key}';
  script(src='/js/functions.js')
  script(src="/js/overlay.js")
  script(src="/js/overlay-client.js")

block content
  div(id='wide-screen').transparent
    div(id='tvsafe')
      div(id='blueteamname').text
        | Potatoes
      div(id='redteamname').text
        | Derpies