extends layout

block head
  title Overlay
  link(href="/stylesheets/base.css", rel="stylesheet")
  link(href="/stylesheets/divimage.css", rel="stylesheet")
  script(src='/javascripts/functions.js')

block footer
  script(src="/javascripts/overlay.js")
  link(href="/stylesheets/themes/default.css", rel="stylesheet")
  script(src="/javascripts/overlay-client.js")
  link(href="/stylesheets/themes/clean.css", rel="stylesheet")

block content
  div(id='wrapper').container.theme-default
    div(id='tvsafe')
      div.row
        div.col-sm-12.text-center
          div(id='title').text.title Draft
