extends layout

block head

block footer
  script.
    var opt_id = '#{id}';
  script(src='/js/functions.js')
  script(src="/js/overlay.js")
  script(src="/js/overlay-admin.js")

block content
  div.container
    style.
      .row { margin-top: 24px;}

    div.row
      div.col.col-sm-12
        h1 /overlay Admin

    - if (created == "true") {
      div.row
        div.col.col-sm-12
          h5 Your OBS Browser Link is:&nbsp;
            script.
              var url = window.location.href.substring(0,window.location.href.lastIndexOf("/"));
              document.write("<a href='" + url + "'><strong>" + url + "</strong></a>");
    - }

    div.row
      div.col-md-5
        div.control-group
          label(for='blueteamname',class='control-label') Blue Team Name
          div.controls
            input(data-group="text",type='text',id='blueteamname',name='blueteamname',placeholder='Potatoes',class='form-control')
      div.col-md-2
        div.control-group
          label(for='swap',class='control-label') Swap
          div.controls
            a(href="#",class="btn btn-success",id="swapButton")
              i.fa.fa-random
      div.col-md-5
        div.control-group
          label(for='redteamname',class='control-label') Red Team Name
          div.controls
            input(data-group="text",type='text',id='redteamname',name='redteamname',placeholder='Derpies',class='form-control')

    div.row
      div.col-lg-12
        a(href="#",class="btn btn-primary",id="reloadButton")
          i.fa.fa-refresh
          | Reload
    hr