extends layout

block head
  script.
    var room = '#{room}';
    var key = '#{key}';
    var url = (window.location.href.lastIndexOf("/") === 0 ? window.location.href.substring(0,window.location.href.length) : window.location.href.substring(0,window.location.href.lastIndexOf("/")));

block footer
  script.
    $('#obs-link').attr("href", url + "/" + room).html("<strong>" + url + "/" + room + "</strong>");
    $('#client').attr("src", url + "/" + room);
  script(src='/js/functions.js')
  script(src="/js/overlay.js")
  script(src="/js/overlay-admin.js")

block content
  div.container
    style.
      .row { margin-top: 24px;}

    div.row
      div.col.col-sm-12
        h1 Heroes Overlay

    div(id='alert-room',style="display: none;").row
      div.col.col-sm-12
        div(role='alert').alert.alert-danger.fade.in
          strong The connection with the server has disconnected, please #[a(href='.') create a new overlay].

    div.row
      div(id='alert-link').col.col-sm-12
        div(role='alert').alert.alert-success.fade.in
          strong Your OBS Browser Link is: #[a(id='obs-link',target='_blank') /]

    div.row
      div.col-md-5
        div.control-group
          label(for='blueteamname',class='control-label') Blue Team Name
          div.controls
            input(data-group="text",type='text',id='blueteamname',name='blueteamname',placeholder='Potatoes',class='form-control')
      div.col-md-2
        div.control-group
          label(for='swap',class='control-label') Swap
          div.controls
            a(href="#",class="btn btn-success",id="swapButton")
              i.fa.fa-random
      div.col-md-5
        div.control-group
          label(for='redteamname',class='control-label') Red Team Name
          div.controls
            input(data-group="text",type='text',id='redteamname',name='redteamname',placeholder='Derpies',class='form-control')

    div.row
      div.col-lg-12
        a(href="#",class="btn btn-primary",id="reloadButton")
          i.fa.fa-refresh
          | Force Client Reload
    hr    div.row
      div.col.col-sm-12
        h3 Render
        iframe(id='client',width='100%',frameborder=1,scrolling='no')

    hr

    div.row
      div.col.col-sm-12
        h3 About
        p #[strong heroes-overlay] is an #[a(href='https://github.com/jnovack/heroes-overlay',target='_blank') open-source project].